/* LoginForm.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 350px;
  margin: auto;
  padding: 20px;
}

.login-title {
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
  font-family: 'Poppins';
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  color: #000;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.login-input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 0.625rem;
  border: 1px solid #9F9F9F;
  background: #FFF;
  height: 3rem;
}

.login-button {
  padding: 0.5rem 4rem;
  border-radius: 0.9375rem;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-button:hover {
  background-color: #FAF4F4;
}

.login-button-row {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.remember-me-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
}

.remember-me-checkbox {
  border-radius: 0.3125rem;
  border: 1px solid #9F9F9F;
  background: #FFF;
}

.remember-me-text {
  color: #000;
  font-family: 'Poppins';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lost {
  color: #000;
  font-family: 'Poppins';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}