.banner {
    margin: 0;
    padding: 0%;
    display: flex;
    background-color: #FAF4F4;
}

.column {
    flex: 1;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.title {
    color: #000;
    font-size: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content {
    color: #9F9F9F;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}