@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins'), url('../../../assets/fonts/Poppins-Medium.ttf') format('ttf');
    font-style: normal;
}

.auth-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rights-container {
    padding-left: 5rem;
}

.rights {
    color: #000;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}