/* styles.css */

.list-container {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
  
  @media screen and (max-width: 1400px) {
  .list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

 @media screen and (max-width: 1050px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

 @media screen and (max-width: 768px) {
  .list-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  }

  button.active {
    background-color: #007bff;
    color: #fff;
  }
}
  
  